.git
.gitignore

**/node_modules
**/.next
**/venv
**/__pycache__
**/*.pyc
**/*.pyo
**/*.db

**/.env
**/.env.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.sqlite
*.sqlite3

pm2_dashboard.sql
README.md
.DS_Store
